body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  background: #222222 url("../img/1.png");
  background-size: cover;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: none;
  font-family: Monocraft;
}

textarea {
  overflow: hidden;
  -webkit-transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) height;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) height;
}
textarea.resizing {
  -webkit-transition: none;
  transition: none;
}
textarea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: red;
}

.span {
  position: absolute;
  color: white;
  font-size: 36px;
  font-family: Arial;
  margin: 10px 0 0 10px;
}

.cursor {
  position: absolute;
  z-index: 1488;
  background: pink;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99);
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
}
.cursor.active {
  -webkit-transition: 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.33);
  transition: 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.33);
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.cursor.click {
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 0.5s -webkit-backdrop-filter;
  transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 0.5s -webkit-backdrop-filter;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.5s backdrop-filter;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.5s backdrop-filter, 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 0.5s -webkit-backdrop-filter;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.cursor.out {
  -webkit-transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.aura {
  position: absolute;
  z-index: 1337;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: pink solid 2px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s cubic-bezier(0.21, 0.96, 0.97, 0.99);
  transition: 0.6s cubic-bezier(0.21, 0.96, 0.97, 0.99);
}
.aura.active {
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99);
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.aura.active.click {
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 1s -webkit-backdrop-filter;
  transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 1s -webkit-backdrop-filter;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 1s backdrop-filter;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 1s backdrop-filter, 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 1s -webkit-backdrop-filter;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.aura.click {
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 1s -webkit-backdrop-filter;
  transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 1s -webkit-backdrop-filter;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 1s backdrop-filter;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99), 1s backdrop-filter, 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform, 1s -webkit-backdrop-filter;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.aura.out {
  -webkit-transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  transition: 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.35s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
}

/*            wrapper              */
.wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 600px;
  margin: 40px auto 0;
  border-radius: 1.5em;
  background: #323232;
  -webkit-box-shadow: 20px 25px 100px black;
          box-shadow: 20px 25px 100px black;
  z-index: 14888;
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99);
  transition: 0.2s cubic-bezier(0.21, 0.96, 0.97, 0.99);
}

@-webkit-keyframes gay {
  0% {
    -webkit-transform: translate(2px, 30%) rotate(72deg);
            transform: translate(2px, 30%) rotate(72deg);
  }
  25% {
    -webkit-transform: translate(160px, -60%) rotate(144deg);
            transform: translate(160px, -60%) rotate(144deg);
  }
  50% {
    -webkit-transform: translate(100px, -10%) rotate(216deg);
            transform: translate(100px, -10%) rotate(216deg);
  }
  75% {
    -webkit-transform: translate(54px, 120%) rotate(288deg);
            transform: translate(54px, 120%) rotate(288deg);
  }
  100% {
    -webkit-transform: translate(2px, 30%) rotate(72deg);
            transform: translate(2px, 30%) rotate(72deg);
  }
}

@keyframes gay {
  0% {
    -webkit-transform: translate(2px, 30%) rotate(72deg);
            transform: translate(2px, 30%) rotate(72deg);
  }
  25% {
    -webkit-transform: translate(160px, -60%) rotate(144deg);
            transform: translate(160px, -60%) rotate(144deg);
  }
  50% {
    -webkit-transform: translate(100px, -10%) rotate(216deg);
            transform: translate(100px, -10%) rotate(216deg);
  }
  75% {
    -webkit-transform: translate(54px, 120%) rotate(288deg);
            transform: translate(54px, 120%) rotate(288deg);
  }
  100% {
    -webkit-transform: translate(2px, 30%) rotate(72deg);
            transform: translate(2px, 30%) rotate(72deg);
  }
}
/*            header              */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 130px;
  border-bottom: 3px solid white;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
  height: 90px;
  width: 480px;
  margin: 0 0 0 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 45px;
  background: transparent;
  color: white;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  background: rgba(46, 139, 87, 0.3);
}
.clearAll {
  color: rgb(46, 139, 87);
  font-family: Arial;
  font-size: 50px;
  height: 70%;
  margin: 0 0 0 25px;
  border-radius: 15px;
  border: 0;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgb(46, 139, 87);
}
.clearAll:hover {
  color: rgb(50, 142, 98);
}
/*            buttons             */
.buttons {
  margin: 10px 0 10px 20px;
}

.equal_button {
  width: 100%;
}

.calc_button, .equal_button {
  border-radius: 5.6em;
  border: 0;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  color: white;
  background: rgb(46, 139, 87);
  font-size: 50px;
  font-family: Arial;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.calc_button:hover {
  background: rgb(50, 142, 98);
}

.calc_button:active, .equal_button:active {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  -webkit-box-shadow: 1px 1px 1px 1px seagreen, -1px -1px 1px 1px seagreen;
          box-shadow: 1px 1px 1px 1px seagreen, -1px -1px 1px 1px seagreen;
  background: rgb(46, 139, 87);
}

/*            true_calc             */
.true_calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.true_calc__operands {
  margin: 10px 0 0 0;
}

.true_calc__calc_input {
  resize: vertical;
  width: 300px;
  height: 80px;
  padding: 2px 0;
  text-align: center;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  outline: seagreen;
  background: transparent;
  -webkit-box-shadow: 1.5px 1.5px 1px orangered;
          box-shadow: 1.5px 1.5px 1px orangered;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1;
}
.true_calc__calc_input::-moz-selection {
  background: seagreen;
}
.true_calc__calc_input::selection {
  background: seagreen;
}

.true_calc__operand {
  padding: 10px 35px;
  color: white;
  font-family: Arial;
  font-size: 20px;
  border: white solid 2px;
  border-radius: 7px;
  background: transparent;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: 0.01s cubic-bezier(0.11, 0.1, 0.97, 0.1);
  transition: 0.01s cubic-bezier(0.11, 0.1, 0.97, 0.1);
}
.true_calc__operand:active {
  border-color: orangered;
  color: orangered;
}